{{- define "cbt-config" -}}
logging: info

metricsAddr: ":{{ .MetricsPort }}"

clickhouse:
  url: "http://default:supersecret@localhost:8123"
  admin:
    incremental:
      database: "{{ .Network }}"
      table: "admin_cbt_incremental"
    scheduled:
      database: "{{ .Network }}"
      table: "admin_cbt_scheduled"

redis:
  url: "redis://localhost:6380/{{ .RedisDB }}"

models:
  external:
{{- if .IsHybrid }}
    defaultCluster: "xatu_cluster"
    defaultDatabase: "{{ .ExternalClickHouseDatabase }}"
{{- else }}
    defaultDatabase: "{{ .Network }}"
{{- end }}
    paths:
      - "../xatu-cbt/models/external"
  transformations:
    defaultDatabase: "{{ .Network }}"
    paths:
      - "../xatu-cbt/models/transformations"
  env:
    NETWORK: "{{ .Network }}"

frontend:
  enabled: false

scheduler:
  concurrency: 10

worker:
  concurrency: 10
  shutdownTimeout: 30
{{- end -}}
