{{- define "cbt-config" -}}
logging: info

metricsAddr: ":{{ .MetricsPort }}"

clickhouse:
  url: "http://default:supersecret@localhost:8123"
  cluster: "{cluster}"
  localSuffix: "_local"
  queryTimeout: 10m
  insertTimeout: 5m
  admin:
    incremental:
      database: "{{ .Network }}"
      table: "admin_cbt_incremental"
    scheduled:
      database: "{{ .Network }}"
      table: "admin_cbt_scheduled"
interval_types:
  slot:
    - name: Slot
      expression: "math.floor((value - {{ .GenesisTimestamp }}) / 12)"
    - name: Datetime
      format: datetime
      expression: "value * 1000"
    - name: Timestamp

redis:
  url: "redis://localhost:6380/{{ .RedisDB }}"

models:
  external:
    defaultCluster: "xatu_cluster"
    defaultDatabase: "{{ .ExternalClickHouseDatabase }}"
    paths:
      - "../xatu-cbt/models/external"
  transformations:
    defaultDatabase: "{{ .Network }}"
    paths:
      - "../xatu-cbt/models/transformations"

frontend:
  enabled: true
  addr: ":{{ .FrontendPort }}"

scheduler:
  concurrency: 10

worker:
  concurrency: 10
  shutdownTimeout: 30s
{{- end -}}
